@import 'flatpickr/dist/flatpickr.min.css';
@import 'izitoast/dist/css/iziToast.min.css';
/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');

.nav-link {
  border: 1px solid darkgrey;
  border-radius: 5px;
  padding: 5px;
}
/*=============Timer================*/
.input-data {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}
.input-field {
  width: 280px;
  height: 40px;
  margin-right: 8px;
  border-radius: 4px;
  border-width: 1px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
}
.btn {
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
  border: 0;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background-color: #cfcfcf;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #989898;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:disabled {
  background-color: #cfcfcf;
  color: #989898;
  cursor: not-allowed;
}

.btn:not(:disabled) {
  background-color: #4e75ff;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}
.input-field:hover {
  border: 1px solid #0c0e14;
  outline: none;
}
.input-field:focus,
.input-field:active {
  border: 1px solid #4e75ff;
  outline: none;
}
.input-field::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #989898;
}
.timer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  width: 346px;
  height: 72px;
  margin: auto;
}
.value {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}
/*=============/Timer================*/
